# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for a fully running server.
# Please read the fivem documentation:
#   https://docs.fivem.net/docs/server-manual/server-commands/
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
sets tags "default, deployer"

## You MAY edit the following:
sv_licenseKey "xhqauybzpclru63xgjvn5b3iwqx2wnth"
sv_hostname "Funtown"
sets sv_projectName "Funtown"
sets sv_projectDesc "Funtown development"
sets locale "en-US" 

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1881018 group.admin #adoggman
add_principal identifier.steam:1100001021bf032 group.admin # Adoggman
add_principal identifier.steam:110000109725d34 group.admin # Frank

set steam_webApiKey "077246117AFF10CFFAC3479BAB9F8F7B"

## Variables
set mysql_connection_string "mysql://root:tacos@localhost/funtown?debug=false&charset=utf8mb4"

## Scripts
ensure cui_character
ensure mysql-async
ensure qalle_coords
ensure ghmattimysql

## Maps
ensure gabz_mrpd
ensure gabz_pillbox
ensure gabz_pinkcage
ensure gabz_mirrorpark_1
ensure gabz_mirrorpark_2

## Funtown
ensure ft-base

